| $option = $("#option_#{params[:id]}");
| $up = $option.find(".up");
| $down = $option.find(".down");
| $number = $option.find(".number");
| $total = $option.parents(".poll").find(".total");
| $stats = $option.find(".stats");
/ | statsContent = '#{visualize_votes_for(@option)}';
| $allStats = $(".stats");

- if params[:type] == "up" #and @option.evaluated_by(:votes, current_user)
  | $up.attr('href','/options/#{params[:id]}/vote?type=down');
  | $up.attr('class','down');
- else
  | $down.attr('href','/options/#{params[:id]}/vote?type=up');
  | $down.attr('class','up');

| $number.text("#{pluralize @option.reputation_for(:votes).to_i, "vote"}");
| $total.text("Tổng phiếu bầu: #{@option.poll.votes_summary}");
| $allStats.each(function(index){
|     statsContent = '#{visualize_votes_for(@option.poll[index])}';
|     console.log(statsContent);
|     $(this).html(statsContent);
| });
