- content_for(:page_header) {"Share your opinion"}

h2 = @poll.name
p 
  b.total Tổng phiếu bầu: #{@poll.votes_summary}
= render partial: 'vote_option', collection: @poll.options, as: :option

hr
= render "comments/form"
= paginate @comments
