.option-fields {
  height: 11.5em;
}

input[name="commit"] {
  margin-top: 2em;
}

.add_fields.btn {
  margin-right: 0.5em;
  margin-top: 2em;
}

// input[type="file"] {
//   margin-bottom: 5px;
// }

.remove_fields {
  margin-top: 0.5em;
}
