.navbar {
  border-radius :0px;
}

.dropdown button, .dropdown button:hover {
  /*color: #fff;*/
  background-color: transparent;
  border: none;
  color: #9d9d9d;
  font-size: 1em;
  height: 48px;
 }
