#new_user fieldset {
  position: relative;
}

#new_user #previewImage img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2px;
  top: 2px;
  pointer-events: none;
  z-index: 2;
}

#new_user .fa-picture-o {
  position: absolute;
  right: 2px;
  top: 4px;
  z-index: 1;
}

.fa-3x {
  font-size: 1.7em;
}
