// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome-msg {
  text-align: center;
}

.group-description a {
  color: black;
}

.flexslider .slides img {
  width: 50%;
  // position: relative;
  margin-left: auto;
  margin-right: auto;
}

.option-name, .vote {
  text-align: center;
}

.fa-2x {
  font-size: 1.5em;
}

.down i {
  color: green
}

.up i {
  color: gray
}

.poll-description {
  position: relative;
}

.poll .report {
  position: absolute;
  right: 0px;
}
