<footer class="footer">
  <div class="row">
    <hr>
    <div class="col-sm-6">
      <address>
        <strong>a simple man walking around</strong><br>
        <abbr title="hộp thư">Email:</abbr> chonchoi@gmail.com
      </address>
    </div>
  </div>
</footer>
